 
 /* Brand Slider Section */  


.brandSlider{
  margin-bottom: 40px;
}


.marquee {
  margin: 4em;
}

@media only screen and (min-width: 120px) {
  .marquee {
    gap: 2px;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 6s linear infinite;
  }

  .marquee1 {
    gap: 2px;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 6s linear infinite reverse;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}


@media only screen and (min-width: 767px) {
  .marquee {
    gap: 5px;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 36s linear infinite;
  }

  .marquee1 {
    gap: 5px;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 36s linear infinite reverse;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

@media only screen and (min-width: 375px) {
  .marquee {
    gap: 2px;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 36s linear infinite;
  }

  .marquee1 {
    gap: 2px;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 36s linear infinite reverse;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
@media only screen and (min-width: 360px) {
  .marquee {
    gap: 2px;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 36s linear infinite;
  }

  .marquee1 {
    gap: 2px;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 36s linear infinite reverse;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
@media only screen and (max-width: 4360px) {
  .marquee {
    gap: 2px;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 36s linear infinite;
  }

  .marquee1 {
    gap: 2px;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 36s linear infinite reverse;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

.img1 {
  margin-left: 6em;
}